body {
  background-color: rgb(70, 120, 143);
}

.App {
  background-color: aqua;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#Todo input {
  background-color: rgb(72, 42, 97);
  width: 150px;
  height: 60px;
  border: 2px solid greenyellow;
  padding: 0 20px;
  margin: 50px;
  cursor: pointer;
  font-size: larger;
  color: rgb(218, 218, 218);

}



#Todo button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  font-weight: 400;
  color: antiquewhite;
}